.arrow-up{
    padding: 0;
    height: 50px;
    fill: #a7835f;
    transform: rotate(90deg);
}
.arrow-down{
    padding: 0;
    height: 50px;
    fill:#a7835f;
    transform: rotate(-90deg);
}
.button-container button{
    background:transparent;
    border: none;
    outline: none;
}
.button-container{
    position: fixed;
    top: 40vh;
}
@media all and (max-width: 1000px){
    .button-container button{visibility: hidden;}
}
@media all and (max-width: 480px){
    .button-container button{visibility: hidden;}
}